$text-color: #4D4949;


$button-primary-bg: #4D4949;
$button-primary-hover: #393737;
$button-primary-color: #fff;


$button-secondary-bg: transparent;
$button-secondary-hover: #393737;
$button-secondary-color: #4D4949;

$phone-size: 480px;